<h1>Welcome#index</h1>

<p>Find me in app/views/welcome/index.html.erb</p>
<p>こんにちは</p>
<%= link_to 'プロジェクトザテーブル', url_for(:controller=>'users',:action=>"index") %><br />
<%= link_to 'プロジェクトテーブル', url_for(:controller=>'projects',:action=>"index") %><br />
<%= link_to 'トラックテーブル', url_for(:controller=>'tracks',:action=>"index") %><br />
